body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td, menu { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img, abbr { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ul li, menu li { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }

legend { color: #000; }

a { text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

img { max-width: 100%; height: auto; }

@font-face { font-family: "Scriptina"; src: url("../fonts/Scriptina/SCRIPTIN.ttf") format("truetype"); }

@font-face { font-family: "firasans"; src: url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype"); }

* { box-sizing: border-box; }

body { font-size: 16px; font-family: 'firasans'; background: #eee; }

header { max-width: 760px; margin: 0 auto; padding: 20px; font-size: 28px; display: flex; flex-wrap: wrap; justify-content: space-between; }

header button { border-radius: 2px; border: 1px solid grey; padding: 2px 10px; cursor: pointer; font-size: 16px; }

header button:focus { outline: none; box-shadow: 0 0 0px 1.5px #76a7e1; }

main { max-width: 760px; margin: 0 auto; padding: 20px; display: flex; flex-wrap: wrap; justify-content: center; }

footer { max-width: 760px; margin: 0 auto; padding: 20px; background: #dde; }

.points { border: 1px solid grey; line-height: 30px; padding: 5px 15px; background: #ddd; font-size: 16px; }

.pair-item { background: #ccc; border: 1px solid black; margin: 10px; cursor: pointer; border-radius: 2px; }

/* entire container, keeps perspective */
.flip-container { perspective: 1000px; }

/* flip the pane when hovered */
/* .flip-container:hover .flipper, .flip-container.hover .flipper { transform: rotateY(180deg); } */
.flip { transform: rotateY(180deg); }

.flip-container, .front, .back { width: 150px; height: 150px; }

/* flip speed goes here */
.flipper { transition: 0.6s; transform-style: preserve-3d; position: relative; }

/* hide back of pane during swap */
.front, .back { backface-visibility: hidden; position: absolute; top: 0; left: 0; }

/* front pane, placed above back */
.front { z-index: 2; /* for firefox 31 */ transform: rotateY(0deg); background: #d9e6e7; border-radius: 2px; }

/* back, initially hidden pane */
.back { transform: rotateY(180deg); border-radius: 2px; }

.match { visibility: hidden; }
